@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Condensed:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed';
  /* font-style: italic; */
  font-weight: 500;
}


body{
  background:black;
}

h1,h4,p,a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  
}
ul{
  list-style: none;
}
.btn{
  padding:  12px 32px;
  font-size: 1rem;
  text-transform: capitalize;
  background-color:rgb(52, 110, 146);
  color: black;
  border: 1px solid white;
  cursor: pointer;
}
.btn-light{
  padding:  12px 32px;
  font-size: 1rem;
  text-transform: capitalize;
  background-color:rgb(239, 246, 251);
  color:black;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.4;
}
.btn:hover{
  background: rgba(255,255,255,0.2);
  color: white;
  transition: 0.3s;
}